/** Search form */
.search {
  &-form,
  &--form {
    @extend .input-group;

    font-size: 1.2rem;
  }

  &-field,
  &--field {
    @extend .form-control;

    .navbar & {
      border: none;
      border-left: 1px solid transparent;
      background: $gray-100;

      &:focus {
        background: $white;
        border-left-color: $gray-600;
      }
    }
  }

  &--input-group {
    @extend .input-group-append;
  }

  &-submit,
  &--submit {
    @extend .btn;
    @extend .btn-primary;

    .navbar & {
      @extend .btn-secondary;
    }
  }
}

/*
 * Contact Form 7
 */

.wpcf7-form {
  .wpcf7 {
    &-text,
    &-textarea,
    &-select {
      @extend .form-control;
    }

    &-list-item {
      @extend .form-check;

      input {
        @extend .form-check-input;
      }

      &-label {
        @extend .form-check-label;
      }
    }

    &-submit {
      @extend .btn;
      @extend .btn-primary;
    }

    &-not-valid {
      @extend .is-invalid;

      &-tip {
        @extend .invalid-feedback;
      }
    }

    &-response-output {
      @extend .alert;
    }

    &-mail-sent-ok {
      @extend .alert-success;
    }

    &-validation-errors {
      @extend .alert-danger;
    }
  }
}
