/** Search form */
.search {
  $this: &;

  &--form {
    @extend .form-inline;

    font-size: 1.2rem;
  }

  &--label {
    @extend .form-group;

    font-weight: normal;
  }

  &--field {
    @extend .form-control;

    border: none;
    background: $gray-100;
    color: $gray-600;
    font-size: inherit;
    font-weight: 300;

    &:focus {
      color: $gray-900;
      background: $gray-100 linear-gradient(90deg, #fff 50%, $gray-100 100%);
    }
  }

  &--submit {
    @extend .btn;

    background: $gray-100;
    border: none;
    color: $gray-500;
    font-size: inherit;

    &:hover {
      background: $gray-100;
      color: $primary;
    }
  }
}
