.postcolumn {
  .post {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-400;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    &--image {
      margin-bottom: 0;

      @include make-col-ready();

      @include media-breakpoint-up(sm) {
        @include make-col(5);

        @at-root {
          .section--leadership,
          .section--around {
            .article--image {
              @include make-col(4);
            }
          }
        }
      }

      @include media-breakpoint-up(lg) {
        @include make-col(4);

        @at-root {
          .section--leadership,
          .section--around {
            .article--image {
              @include make-col(3);
            }
          }
        }
      }
    }

    &--title {
      @extend .h6;
    }

    &--content {
      @extend .d-flex;
      @extend .flex-column;
    }

    &--categories {
      // @extend .order-first;
    }

    &--summary {
      display: none;
    }
  }
}

.announcements {
  padding: 1rem 0;
  background: $gray-100;

  &--hero {
    .post {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;

      &--categories {
        font-size: 1rem;
        background: $gray-100;
        padding: 0.5em;
        line-height: 1;
        display: inline-block;
        max-width: 25%;
        transform: translateY(-100%);
      }
    }
  }
}
