.page-children {
  @include make-col-ready();
  @include make-col(4);

  @include media-breakpoint-up(sm) {
    @include make-col(3);
  }

  @include media-breakpoint-up(md) {
    @include make-col(2);
  }

  @extend .order-first;

  &--nav {
    @extend .nav;
    @extend .flex-column;
    @extend .nav-pills;

    font-size: 0.9rem;

    li {
      @extend .nav-item;

      a {
        @extend .nav-link;

        padding: ($spacer * 0.5);

        &:hover {
          background: $gray-200;
        }
      }
    }

    &__grandparent,
    &__parent {
      a {
        @extend .d-flex;
        @extend .justify-content-start;
        @extend .align-items-center;

        color: $gray-700;
      }
    }

    &__grandparent {
      a {
        color: $gray-500;
      }
    }

    &__icon {
      padding-right: ($spacer * 0.5);
      margin-left: ($spacer * -0.25);
    }

    .current_page_item {
      a,
      a:hover {
        background: $gray-800;
        color: $gray-100;
      }
    }
  }
}
