.post {
  img {
    max-width: 100%;
    height: auto;
  }

  &--image {
    @extend .order-last;

    margin-bottom: 1rem;
  }

  &--meta {
    font-size: 0.8rem;
    color: $gray-600;
    margin-bottom: 0.5em;

    a {
      color: inherit;

      &:hover {
        color: $gray-800;
        text-decoration: none;
      }
    }
  }

  &--categories,
  &--taxonomy {
    font-size: 0.8rem;
    margin-bottom: 0.5em;

    a {
      display: inline-block;
      line-height: 1;
      padding: 0.25em 0.4em;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      color: $gray-600;

      &:hover {
        color: $gray-800;
        text-decoration: none;
      }
    }
  }

  &--taxonomy {
    &,
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    font-size: 0.8rem;
    margin-bottom: 0.5rem;

    &.taxonomy {
      &--recognition-category {
        font-size: 1rem;
      }
    }
  }
}

.category,
.blog,
.author,
.search-results {
  .post {
    &--wrap {
      @include make-row();
    }

    &--content {
      @extend .col;
    }

    &--image {
      @include make-col-ready();
      @include make-col(3);

      @include media-breakpoint-up(lg) {
        @include make-col(2);
      }
    }
  }
}

.single {
  .post {
    &--image {
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.post-type-archive-employee_recognition,
.tax-employee_recognition_category,
.tax-department {
  .posts {
    &--wrap {
      @include make-row();
    }
  }

  main {
    article {
      @include make-col-ready();
      @include make-col(6);

      margin-bottom: ($spacer * 2);
    }
  }

  .post {
    &--wrap {
      text-align: left;
    }

    &--image {
      float: left;
      max-width: 30%;
      margin-right: $spacer;

      img {
        border-radius: 50%;
      }
    }

    &--title {
      @extend .h4;

      margin-bottom: ($spacer/2);
    }

    &--categories {
      display: none;
    }

    &--summary {
      text-align: justify;
      clear: both;
    }

    &--taxonomy {
      li {
        &:first-child {
          a {
            padding-left: 0;
          }
        }
      }
    }
  }
}

.single-employee_recognition {
  .post {
    &--taxonomy {
      li {
        &:first-child {
          a {
            padding-left: 0;
          }
        }

        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }
    }

    &--image {
      img {
        @extend .alignright;
        @extend .rounded;
      }
    }
  }
}

.post-nav {
  margin: ($spacer) 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.8rem;
  opacity: 0.8;

  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;

  &--link {
    @extend .d-flex;
    @extend .justify-content-start;
    @extend .align-items-center;

    max-width: 45%;

    &__next {
      @extend .flex-row-reverse;

      text-align: right;
    }

    .fas,
    .svg-inline--fa {
      margin: ($spacer * 0.5);
    }
  }
}
