.sidebar {
  padding: 1rem;
  background: $gray-200;

  h3 {
    @extend .h6;

    border-left: 0.3em solid $gray-500;
    background: $gray-800;
    color: $gray-100;
    padding: 0.5em;
    margin-left: -1rem;
    margin-right: -1rem;
    letter-spacing: 0.05em;
  }

  h4 {
    @extend .h5;
  }

  .widget {
    margin-bottom: 2rem;

    &:first-child {
      margin-top: -1rem;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}

.tribe-events-list-widget {
  .tribe-list-widget,
  .tribe-events-list-widget-events {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }

  .tribe-event-duration {
    font-size: 0.9rem;
  }

  .tribe-events-list-widget-events {
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-400;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.widget_recent_entries {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin: 0 0 1rem;
      padding: 0;
    }
  }

  .post-date {
    display: block;
    font-size: 0.9rem;

    &::before {
      display: inline-block;
      margin-right: 0.25em;
      font: normal normal normal 14px/1 FontAwesome; /* stylelint-disable-line */
      font-size: inherit;
      content: "\F017";
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.widget_wpfb_searchwidget {
  form {
    //@extend .form-group;
  }

  label {
    //@extend .col-8;
  }

  .search-field {
    //@extend .form-control;
  }

  .search-submit {
    //@extend .btn;
    //@extend .btn-primary;
    //@extend .col;
  }
}
