.sidebar {
  padding: 1rem;
  background: $gray-200;

  h3 {
    @extend .h5;

    border-left: 0.3em solid $gray-500;
    background: $gray-800;
    color: $gray-100;
    padding: 0.5em;
    margin-left: -1rem;
    margin-right: -1rem;
    letter-spacing: 0.05em;
    font-family: $font-family-sans-serif;

    a {
      color: inherit;
    }
  }

  h4 {
    @extend .h5;

    font-family: $font-family-sans-serif;
  }

  .widget {
    margin-bottom: 2rem;

    &:first-child {
      margin-top: -1rem;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}

.tribe-events-list-widget {
  .tribe-list-widget,
  .tribe-events-list-widget-events {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }

  .tribe-event-duration {
    font-size: 0.9rem;
  }

  .tribe-events-list-widget-events {
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-400;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.widget_recent_entries {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin: 0 0 1rem;
      padding: 0;
    }
  }

  .post-date {
    display: block;
    font-size: 0.9rem;

    &::before {
      display: inline-block;
      margin-right: 0.25em;
      font: normal normal normal 14px/1 FontAwesome; /* stylelint-disable-line */
      font-size: inherit;
      content: "\F017";
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.widget_wpfb_searchwidget {
  form {
    //@extend .form-group;
  }

  label {
    //@extend .col-8;
  }

  .search-field {
    //@extend .form-control;
  }

  .search-submit {
    //@extend .btn;
    //@extend .btn-primary;
    //@extend .col;
  }
}

// PCHC Employee Recognition widget
.pchcer {
  &__post,
  &__posts, {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__post {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-400;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    // Clear floats
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &__image {
    float: right;
    max-width: 40%;
    height: auto;
    border-radius: 50%;
    margin-left: 0.5rem;
  }

  .sidebar &__title {
    margin-bottom: 0;
  }

  &__timestamp {
    font-size: 0.9rem;
  }

  &__taxonomy,
  &__taxonomy li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__taxonomy {
    font-size: 0.8rem;
    color: $gray-700;
    font-style: italic;

    a {
      color: inherit;
    }
  }

  &__readmore {
    font-size: 0.9rem;
  }

  &__widget-readmore {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-block;

    margin-top: 0.5rem;
  }
}
