.container {
  &--main,
  &--announcements,
  &--footer {
    max-width: 1140px;
  }
}

.document-wrap {
  min-height: 75vh;
}

.container--main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

article {
  h2,
  h3,
  h4 {
    font-weight: 700;
    margin-bottom: 1em;
    padding-top: 1em * 0.25;
    font-family: $font-family-serif;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

article,
.page-header {
  h1 {
    font-weight: 400;
    font-size: $font-size-base * 2.75;
  }
}

.section-title {
  $self: &;

  @extend .align-items-center;

  border-left: 0.5rem solid $gray-700;
  background: rgba($gray-200, 0.75);
  padding: 0.5rem;
  margin-bottom: 1rem;

  &__red {
    border-left-color: $red;
  }

  &--content {
    margin: 0;
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-family: $font-family-sans-serif;
    font-weight: 700;

    #{$self}__red &,
    #{$self}__red & a {
      color: $red;
    }
  }

  &--more {
    > a {
      font-size: 0.9rem;
      line-height: 1;
      display: inline-block;

      #{$self}__red & {
        color: $red;
      }
    }
  }
}

.nav-links {
  @include make-row();

  > div {
    @include make-col-ready();
    @include make-col(6);
  }

  a {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-secondary;
  }

  .nav-next {
    @extend .text-right;
  }
}

.search-query {
  font-style: italic;
}

table {
  @extend .table;
}

.breadcrumb {
  font-size: 0.9rem;
  padding: 0.75em 1em;

  .far,
  .fas {
    color: $breadcrumb-divider-color;
    margin: 0 0.25em;
  }

  .breadcrumb_last {
    color: $breadcrumb-active-color;
  }
}

#top-alert {
  margin: 0;

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    @extend .h5;
  }
}

.card-body {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.page,
.single {
  main {
    p,
    li {
      .link-effect {
        $linkColor: lighten($blue, 30%);

        background: transparent;
        color: inherit;
        text-decoration: none;
        transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
        border-bottom: 0 solid $linkColor;
        box-shadow: inset 0 -4px $linkColor;
        overflow-wrap: break-word;
        word-break: break-word;
        word-wrap: break-word;

        &:hover {
          $linkHoverColor: lighten($blue, 50%);

          background-color: $linkHoverColor;
          box-shadow: inset 0 -4px $linkHoverColor;
        }
      }

      .underline--magical {
        color: inherit;
        text-decoration: none;
        background-image: linear-gradient(45deg, lighten($blue, 10%) 0%, lighten($blue, 35%) 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: 0 90%;
        transition: background-size 0.15s cubic-bezier(0.33, 0.66, 0.66, 1), color 0.1s ease-out;

        &:hover {
          background-size: 100% 100%;
          color: $white;
        }
      }
    }
  }
}
