.container {
  &--main,
  &--announcements,
  &--footer {
    max-width: 1140px;
  }
}

.document-wrap {
  min-height: 75vh;
}

.container--main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.page,
.single {
  main {
    h1 {
      font-weight: 400;
    }

    h2,
    h3,
    h4 {
      font-weight: 300;
    }
  }
}

.section-title {
  $self: &;

  @extend .align-items-center;

  border-left: 0.5rem solid $gray-700;
  background: rgba($gray-200, 0.75);
  padding: 0.5rem;
  margin-bottom: 1rem;

  &__red {
    border-left-color: $red;
  }

  &--content {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.05rem;

    #{$self}__red &,
    #{$self}__red & a {
      color: $red;
    }
  }

  &--more {
    > a {
      font-size: 0.9rem;
      line-height: 1;
      display: inline-block;

      #{$self}__red & {
        color: $red;
      }
    }
  }
}

.nav-links {
  @include make-row();

  > div {
    @include make-col-ready();
    @include make-col(6);
  }

  a {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-secondary;
  }

  .nav-next {
    @extend .text-right;
  }
}

.search-query {
  font-style: italic;
}

table {
  @extend .table;
}

.breadcrumb {
  font-size: 0.9rem;
  padding: 0.75em 1em;

  .far,
  .fas {
    color: $breadcrumb-divider-color;
    margin: 0 0.25em;
  }

  .breadcrumb_last {
    color: $breadcrumb-active-color;
  }
}

#top-alert {
  margin: 0;

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    @extend .h5;
  }
}
